<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Wiener Linien</title>

    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='styles/style.css')}}">

    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="{{url_for('static',filename='js/map.js')}}"></script>
    <script src="{{url_for('static',filename='js/wl_query.js')}}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>window.jQuery || document.write("<script src='{{url_for('static', filename='jquery.js') }}'>\x3C/script>")</script>
    <link href="static/fontello/css/awesomearrows.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
<body>

<div>
    <div class="top_bar">
        <table id="top_table">
          <tr>
            <td><h1>Wiener Linien Representation</h1></td>
            <td rowspan="2">
                <a href="https://github.com/eszterhorvath/InfoVis-Assignment3" target="_blank">
                    <i class="fa fa-github" id="github"></i></a>
            </td>
          </tr>
          <tr>
            <td><p>Eszter Horváth, Johannes Brand</p></td>
          </tr>
        </table>
    </div>

    <div class="selector_bar">
        <table id="selection_table">
          <tr>
            <td>Subway</td>
            <td>Tram</td>
            <td>Bus</td>
            <td>Train</td>
            <td>All</td>
          </tr>
        </table>
    </div>

</div>

<div class="checkbox_container">
        <table id="checkbox_table">
          <tr>
            <td><input type="radio" id="radio1" name="radiobuttons" checked="true"></td>
            <td><label for="radio1" id="label1">Overview</label></td>
          </tr>
          <tr>
            <td><input type="radio" id="radio2" name="radiobuttons"></td>
            <td><label for="radio2" id="label2">Delays</label></td>
          </tr>
        </table>
</div>

<p id="line_name"></p>
<!-- Container for the map -->
<div class="container">
    <div class="map">
        <svg id="svg_map"></svg>
    </div>
</div>

<script>
    window.onresize = function() { refreshMap(); }

    // calls the map rendering
    initMap();
    initSelectors();
    drawLines(1)

    queryData()
</script>

</body>
</html>
