<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Wiener Linien</title>

    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='styles/style.css')}}">

    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="{{url_for('static',filename='js/map.js')}}"></script>
    <script src="{{url_for('static',filename='js/wl_query.js')}}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>window.jQuery || document.write("<script src='{{url_for('static', filename='jquery.js') }}'>\x3C/script>")</script>
</head>
<body>

<div>
    <div class="top_bar">
        <table id="top_table">
          <tr>
            <td><h1>Wiener Linien Representation</h1></td>
            <td rowspan="2">
                <a href="https://github.com/eszterhorvath/InfoVis-Assignment3" target="_blank">
                    <i class="fa fa-github" id="github"></i></a>
            </td>
          </tr>
          <tr>
            <td><p>Eszter Horváth, Johannes Brand</p></td>
          </tr>
        </table>
    </div>

    <div class="selector_bar">
        <table id="selection_table">
          <tr>
            <td>Subway</td>
            <td>Tram</td>
            <td>Bus</td>
            <td>Train</td>
            <td>All</td>
          </tr>
        </table>
    </div>

</div>

<div class="views_checkbox_container">
        <table id="views_checkbox_table">
          <tr>
            <td><input type="radio" id="overview_radio" name="views_radio_buttons" checked="true" onclick="queryData()"></td>
            <td><label for="overview_radio" id="label_overview">Overview</label></td>
          </tr>
          <tr>
            <td><input type="radio" id="delays_radio" name="views_radio_buttons" onclick="queryData()"></td>
            <td><label for="delays_radio" id="label_delays">Delays</label></td>
          </tr>
        </table>
</div>

<div id="districts_checkbox_container">
        <table>
          <tr><td>
            <table id="districts_checkbox_table">
              <tr>
                <td><input type="radio" id="no_d" name="districts_radio_buttons" checked="true" onclick="clearAllDistrictBoarders();"></td>
                <td><label for="no_d">No districts selected</label></td>
              </tr>
              <tr>
                <td><input type="radio" id="all" name="districts_radio_buttons" onclick="drawAllDistrictBoarders();"></td>
                <td><label for="all">Show all district borders</label></td>
              </tr>
            </table>
          </td>
          <td>
            <p id="button" onclick="buttonHandler();">+</p>
          </td></tr>
          <tr><td>
            <table id="districts_checkbox_table2">
            <tr>
              <td><input type="radio" id="d1" name="districts_radio_buttons" onclick="districtSelected(1);"></td>
              <td><label for="d1">District 1</label></td>
            </tr>
            <tr>
              <td><input type="radio" id="d2" name="districts_radio_buttons" onclick="districtSelected(2);"></td>
              <td><label for="d2">District 2</label></td>
            </tr>
            <tr>
              <td><input type="radio" id="d3" name="districts_radio_buttons" onclick="districtSelected(3);"></td>
              <td><label for="d3">District 3</label></td>
            </tr>
            <tr>
              <td><input type="radio" id="d4" name="districts_radio_buttons" onclick="districtSelected(4);"></td>
              <td><label for="d4">District 4</label></td>
            </tr>
            <tr>
              <td><input type="radio" id="d5" name="districts_radio_buttons" onclick="districtSelected(5);"></td>
              <td><label for="d5">District 5</label></td>
            </tr>
            <tr>
              <td><input type="radio" id="d6" name="districts_radio_buttons" onclick="districtSelected(6);"></td>
              <td><label for="d6">District 6</label></td>
            </tr>
            <tr>
              <td><input type="radio" id="d7" name="districts_radio_buttons" onclick="districtSelected(7);"></td>
              <td><label for="d7">District 7</label></td>
            </tr>
            <tr>
              <td><input type="radio" id="d8" name="districts_radio_buttons" onclick="districtSelected(8);"></td>
              <td><label for="d8">District 8</label></td>
            </tr>
            <tr>
              <td><input type="radio" id="d9" name="districts_radio_buttons" onclick="districtSelected(9);"></td>
              <td><label for="d9">District 9</label></td>
            </tr>
            <tr>
              <td><input type="radio" id="d10" name="districts_radio_buttons" onclick="districtSelected(10);"></td>
              <td><label for="d10">District 10</label></td>
            </tr>
            <tr>
              <td><input type="radio" id="d11" name="districts_radio_buttons" onclick="districtSelected(11);"></td>
              <td><label for="d11">District 11</label></td>
            </tr>
            <tr>
              <td><input type="radio" id="d12" name="districts_radio_buttons" onclick="districtSelected(12);"></td>
              <td><label for="d12">District 12</label></td>
            </tr>
            <tr>
              <td><input type="radio" id="d13" name="districts_radio_buttons" onclick="districtSelected(13);"></td>
              <td><label for="d13">District 13</label></td>
            </tr>
            <tr>
              <td><input type="radio" id="d14" name="districts_radio_buttons" onclick="districtSelected(14);"></td>
              <td><label for="d14">District 14</label></td>
            </tr>
            <tr>
              <td><input type="radio" id="d15" name="districts_radio_buttons" onclick="districtSelected(15);"></td>
              <td><label for="d15">District 15</label></td>
            </tr>
            <tr>
              <td><input type="radio" id="d16" name="districts_radio_buttons" onclick="districtSelected(16);"></td>
              <td><label for="d16">District 16</label></td>
            </tr>
            <tr>
              <td><input type="radio" id="d17" name="districts_radio_buttons" onclick="districtSelected(17);"></td>
              <td><label for="d17">District 17</label></td>
            </tr>
            <tr>
              <td><input type="radio" id="d18" name="districts_radio_buttons" onclick="districtSelected(18);"></td>
              <td><label for="d18">District 18</label></td>
            </tr>
            <tr>
              <td><input type="radio" id="d19" name="districts_radio_buttons" onclick="districtSelected(19);"></td>
              <td><label for="d19">District 19</label></td>
            </tr>
            <tr>
              <td><input type="radio" id="d20" name="districts_radio_buttons" onclick="districtSelected(20);"></td>
              <td><label for="d20">District 20</label></td>
            </tr>
            <tr>
              <td><input type="radio" id="d21" name="districts_radio_buttons" onclick="districtSelected(21);"></td>
              <td><label for="d21">District 21</label></td>
            </tr>
            <tr>
              <td><input type="radio" id="d22" name="districts_radio_buttons" onclick="districtSelected(22);"></td>
              <td><label for="d22">District 22</label></td>
            </tr>
            <tr>
              <td><input type="radio" id="d23" name="districts_radio_buttons" onclick="districtSelected(23);"></td>
              <td><label for="d23">District 23</label></td>
            </tr>
          </table>
          </td></tr>
        </table>
</div>

<p id="line_name"></p>
<!-- Container for the map -->
<div class="container">
    <div class="map">
        <svg id="svg_map"></svg>
    </div>
</div>

<script>
    document.getElementById("districts_checkbox_container").style.height = (document.getElementById("districts_checkbox_table").offsetHeight + 10) + "px";
    //window.onresize = function() { refreshMap(); }

    // calls the map rendering
    initMap();
    initSelectors();
    drawLines();

    queryData();
</script>

</body>
</html>
