body {
    padding-left: 5em;
    font-family: Calibri Light, Arial, Helvetica, sans-serif;
    color: #222222;
    background-color: #E0E0E0;
    padding-right: 5em;
}

.container {
    border: 0px solid #f00;
    text-align: center;
    font-size: large;
    display: flex;
    margin: 0;
}

.selector {
    flex: auto;
    padding: 10px;
    border: 0px solid red;
}

.map {
    flex: auto;
    padding: 10px;
    border: 0px solid black;
}

select {
    width: 100%;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    -moz-padding-start: calc(10px - 3px);
    height: 40px;
    padding-left: 10px;
    color: #000000;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    outline: none;
    cursor: pointer;
}

select option {
    color: #666;
}

select::-ms-expand {
    display: none;
}

select:focus::-ms-value {
    background-color: transparent;
}

.select-wrapper {
    width: 100%;
    position: relative;
}

.select-wrapper::before {
    font-family: awesomearrows;
    content: "\e800";
    font-size: 20px;
    position: absolute;
    right: 15px;
    top: 10px;
    color: #000000;
    pointer-events: none;
}

svg {
    width: 100%;
}

.top_bar {
    position: fixed;
    padding: 20px;
    margin: 0;
    background-image: linear-gradient(to right, #CD295A, #38ADAE);
    left: 0;
    top: 0;
    width: 100%;
    height: 80px;
    z-index: 1;
}

.top_bar h1 {
    margin: 0 0 8px 0;
    padding: 0;
    color: white;
    font-size: 1.5em;
}

.top_bar p {
    margin: 0;
    padding: 0;
    color: white;
    font-size: 1.2em;
}

#top_table {
    width: 98%;
}

#github {
    font-size: 50px;
    color: white;
    float: right;
}

.selector_bar {
    position: fixed;
    top: 120px;
    left: 0;
    background-image: linear-gradient(to right, #CD295A, #38ADAE);
    width: 100%;
    z-index: 1;
    opacity: 0.5;
}

.selector_bar td {
    font-size: 1.2em;
    vertical-align: middle;
    text-align: center;
    width: 2000px;
    color: white;
    height: 40px;
}

.selector_bar td:hover {
    background-color: white;
    opacity: 0.7;
    color: black;
}

.checkbox_container {
    display: flex;
    margin: 180px 10px 10px 10px;
}

.line {
    stroke-width: 2;
}
.line[data-hasDelay=true] {
    stroke-width: 3;
    filter: brightness(50%);
}